:host {
   display: flex;
   flex-flow: column;

   .blind-trump-section {
      display: block;
      height: 4rem;
      width: 100%;
      position: relative;
   }

   .trump-section {
      display: inline-block;
      z-index: 99999;
      position: absolute;
      top: 0;
      left: 0.2rem;
      height: 6rem;
      width: 100%;
   }
}
