<div class="blind-trump-section">
   <div class="trump-section">
      <xh-deck [cards]="trumps" [isTrump]="true"
         [isDisabled]="isTrumpComplete" [cardPredicate]="trumpPredicate"
         (cardsRemoved)="removed($event, 'trump')"
         (cardsAdded)="added($event, 'trump')"
         (cardsUpdated)="updated($event, 'trump')"
         (selectionChanged)="changed($event, 'trump')">
      </xh-deck>
   </div>
   <xh-blind [cards]="blinds"></xh-blind>
</div>

<div class="hand-section">
   <xh-deck isBig="true" [cards]="hands" (cardsRemoved)="removed($event, 'hand')"
      (cardsAdded)="added($event, 'hand')"
      (cardsUpdated)="updated($event, 'hand')"
      (selectionChanged)="changed($event, 'hand')">
   </xh-deck>
</div>