:host {
   display: flex;
   flex-flow: column;

   .blind-trump-section {
      display: block;
      height: 10rem;
      width: 100%;
      position: relative;
   }

   .trump-section {
      display: inline;
      z-index: 99999;
      position: absolute;
      top: 0;
      left: 0.7rem;
   }
}
