:host {
   display: block;
   position: relative;
   height: 100%;
   width: 100%;

   .opponent-section {
      display: block;
      border: 1px solid red;
      height: 10rem;
   }

   .player-section {
      display: flex;
      position: absolute;
      bottom: 0;
      width: 100%;
      justify-content: space-around;

      .left-action {
         display: block;
         width: 5rem;
      }

      .right-action {
         display: block;
         width: 5rem;
      }
   }
}
