:host {
   display: block;
   position: relative;
   height: 100%;
   width: 100%;

   .opponent-section {
      display: block;
      border: 1px solid red;
   }

   .player-section {
      display: block;
      border: 1px solid green;
      position: absolute;
      bottom: 0;
   }
}
