<div class="opponent-section">
   <xh-player *ngFor="let id of gameService.opponentSessionIds" [player]="players[id]">
   </xh-player>
</div>

<div cdkDropListGroup>
   <div class="status-section">
      <div *ngIf="!isCreator">Waiting for Dealer to start</div>
      <button *ngIf="isCreator" (click)="start()">Start</button>
   </div>

   ---------------Pile----------------
   <xh-play-pile [cards]="[]" (add)="add($event)"
      (change)="change($event)" (remove)="remove($event)"
      (update)="update($event)"></xh-play-pile>
   ----------------------------------------

   <xh-player [player]="players[gameService.playerSessionId]" class="player-section"
      (add)="add($event)" (change)="change($event)"
      (remove)="remove($event)" (update)="update($event)">
   </xh-player>
</div>

<button (click)="draw()">Draw</button>