:host {
   display: block;
   position: relative;
   height: 100%;
   width: 100%;

   .game-table {
      display: flex;
      justify-content: center;
      width: 100%;
      top: 22px;

      .table-element {
         display: flex;
         width: 70%;

         xh-svg-icon {
            margin: auto;
            width: 100%;
            padding: 10px;
            display: inline-flex;
         }
      }
   }

   .opponent-section {
      display: block;
      border: 1px solid red;
      height: 10rem;
   }

   .game-section {
      .status-section {
         font-size: 1.2rem;
         text-align: center;
      }

      .player-section {
         display: flex;
         position: absolute;
         bottom: 0;
         width: 100%;
         justify-content: space-around;

         .left-action {
            display: block;
            width: 5rem;
         }

         .right-action {
            display: block;
            width: 5rem;
         }
      }
   }
}
