<div class="opponent-section">
   <xh-player *ngFor="let id of opponentSessionIds" [player]="players[id]">
   </xh-player>
</div>

<div cdkDropListGroup>
   <div class="status-section">
      <div *ngIf="!isCreator">Waiting for Dealer to start</div>
      <button *ngIf="isCreator" (click)="start()">Start</button>
   </div>
   
   ---------------Play Pile----------------
   <xh-play-pile [cards]="playPile" (add)="playAdd($event)"
      (change)="playChange($event)" (remove)="playRemove($event)"
      (update)="playUpdate($event)"></xh-play-pile>
   ----------------------------------------

   <xh-player [player]="players[ownSessionId]" class="player-section"
      (add)="playerAdd($event)" (change)="playerChange($event)"
      (remove)="playerRemove($event)" (update)="playerUpdate($event)">
   </xh-player>
</div>

<button (click)="draw()">Draw</button>